@model UTB.Eshop.Web.Models.Entities.Membership
@{
    ViewData["Title"] = "Editace položky Membership";
}
<h1>@ViewData["Title"]</h1>

@{
    ViewBag.Action = "Edit";
}
<partial name="CreateEditForm" model="Model" />

@section Scripts
    {
        <partial name="_ValidationScriptsPartial" />
        <script src="~/js/FileContentValidation.js"></script>
        <script src="~/js/FileSizeValidation.js"></script>
}